<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordova.test"
        version="0.0.1"
        android-versionCode="7"
        ios-CFBundleVersion="1.1.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Testing App</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <!-- Global Preferences -->
    <!--<preference name="Fullscreen" value="true" />-->
    <preference name="Orientation" value="portrait" /> <!-- default, landscape, or portrait -->

    <!-- Multi-Platform Preferences -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff0000ff" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />

    <platform name="android">
        <preference name="Fullscreen" value="false" />
    </platform>

</widget>
